@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

/*==================== VARIABLES CSS ====================*/
body {
    /* --app-background: #eaebf5; */
    --app-background: rgb(240, 240, 240);
    --chat-background: #fff;
    --link-color: #c0c1c5;
    --navigation-bg: #fff;
    --navigation-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    --btn-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1), 0 3px 7px 0 rgba(0, 0, 0, .08);
    /* --navigation-box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
        0 24px 20px -24px rgba(71, 82, 107, 0.1); */
    --main-color: #3c3f56;
    --message-bg: #f3f4f9;
    --header-bottom-bg: #dfdfdf;
    --message-bg-2: #3c3f56;
    --message-text: #2c303a;
    --placeholder-text: #a2a4bc;
    --button-bg: #fff;
    --button-selected: #3c3f56;
    --sidebar-on-hover: #3c3f56;
    --code-editor-box-backgroud-color: #f3f4f9;
    --code-editor-box-font-color: rgb(47, 47, 47);
}

/*========== Variables Dark theme ==========*/
body.dark {
    --app-background: #262a42;
    --navigation-box-shadow: 0px 0px 8px 0px #282b33;
    --chat-background: #3c3f56;
    --message-bg: #2c3046;
    --header-bottom-bg: #32364e;
    --message-text: rgba(255, 255, 255, 0.8);
    --placeholder-text: #fff;
    --navigation-bg: #3c3f56;
    --button-bg: #3c3f56;
    --main-color: #6f74ffca;
    --message-bg-2: #6f74ffca;
    --button-selected: #6f74ffca;
    --code-editor-box-backgroud-color: #3c3f56;
    --code-editor-box-font-color: #fff;
    /* color: rgba(255, 255, 255, 0.8); */
}


/*==================== LAYOUT ====================*/
.app-container {
    background-color: var(--app-background);
    width: 100vw;
    height: 100vh;
    display: flex;
    transition: 0.2s;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*==================== Scroll bar ====================*/
/* Style the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
    height: 10px;
    /* Height of the scrollbar */
}

/* Style the thumb (the moving part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #b3b3b37c;
    /* Background color of the thumb */
    border-radius: 10px;
    /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    /* Background color of the thumb */
    border-radius: 10px;
    /* Round the corners of the thumb */
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: var(--chat-background);
    /* Background color of the track */
}

/* Style the buttons (the arrows that allow you to move the scrollbar up and down) */
::-webkit-scrollbar-button {
    display: none;
    /* Hide the buttons */
}

/*==================== loading spinner ====================*/
.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 1;
    visibility: visible;
}

/*==================== video chat error ====================*/
.error-container{
    background-color: var(--chat-background);
    color: var(--message-text);
}


/*==================== Mode switch ====================*/
.mode-switch {
    z-index: 1;
    position: absolute;
    top: 4%;
    left: 36px;
    background-color: var(--chat-background);
    border: none;
    color: #ddd;
    outline: none;
    cursor: pointer;
    box-shadow: var(--navigation-box-shadow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    transform-origin: center;
}

.mode-switch svg {
    width: 0;
    height: 24px;
    transition: all 0.3s ease-in;
    transform-origin: center;
}

.mode-switch .moon {
    opacity: 0;
}

.mode-switch .sun {
    width: 24px;
}

.dark .moon {
    opacity: 1;
    width: 24px;
}

.dark .sun {
    opacity: 0;
    width: 0;
}



/*==================== Navigation ====================*/
.left-side {
    position: relative;
    padding: 16px;
    flex-basis: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--navigation-bg);
    border-radius: 10px;
    box-shadow: var(--navigation-box-shadow);
}

.room-nav-link {
    padding: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}


.room-nav-link:hover {
    transition: 0.4s ease-in;
    cursor: pointer;
}

.icon img {
    width: 24px;
    height: 24px;
    color: var(--main-color);
    transition: 0.3s ease-in;
}

.right-side {
    margin-left: auto;
    flex-basis: 400px;
    height: 100%;
    padding: 16px 16px 16px 16px;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
}

.nav-selected {
    background-color: var(--main-color) !important;
}

/*==================== Main App: video && code editor ====================*/
.app-main {
    flex: 1;
    width: 100%;
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    min-height: 72px;
    height: 10.8%;
    width: 100%;
    /* font-size: 1.1rem; */
    letter-spacing: -0.5px;
    color: #151111;
    border-bottom: 1px solid var(--header-bottom-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dark .main-header {
    border-bottom: 1px solid var(#3c3f56);
}

.main-header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-header-left h3 {
    padding: 5px 25px 5px 25px;
    background-color: #a2a4bc5e;
    border-radius: 8px;
    font-weight: 400;
    color: var(--message-text);
}

.current-time {
    padding: 10px;
    color: var(--main-color);
    font-size: 1rem;
}



/* ======================collapsible invitation link=============================== */

header {
    background-color: #F3F3F3;
    display: flex;
    /* align-items: baseline;
    padding: .5rem;
    gap: 1rem; */
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown.active>.link,
.link:hover {
    color: white
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 10;
}

.invite-button {
    background-image: url('./header_icon/user-plus.png');
    background-color: var(--main-color);
    padding: 12px 16px 12px 40px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center left 12px;
    background-size: 20px;
    font-size: 14px;
}

.invite-button:hover {
    color: white;
}

.invitation-link-wrapper {
    display: flex;
}

#copy-btn {
    margin-left: 5px;
    background-image: url('./header_icon/copy.png');
    background-color: var(--main-color);
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    font-size: 12px;
}

#copy-btn:active {
    background-image: url('./header_icon/copy-clicked.png');
    position: relative;
    left: 1px;
    top: 1px;
}

.dropdown-menu h4 {
    font-weight: 300;
    font-size: 0.7rem;
}

.dropdown-menu input {
    font-weight: 200;
    padding: 5px;
    font-size: 0.7rem;
    border: 1px solid #f5f5f5;
}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

/* ======================Code editor Component=============================== */
.compiler-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

.compiler-select-menu {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border-style: hidden;
    background-color: var(--message-bg);
    color: var(--message-text);
    box-shadow: var(--btn-shadow);
}


.compiler-select-menu-option {
    background-color: var(--message-bg);
    color: var(--message-text);
}

.compiler-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compiler-select-menu-wrapper {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}


.editor-wrapper {
    overflow: auto;
    height: 52vh;
    width: 100%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: 10px;
}

.output-wrapper {
    overflow: auto;
    height: 22vh;
    width: 100%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: 10px;
}

.code-editor-box {
    font-size: 0.85rem !important;
    width: 100%;
    border-radius: 10px;
    background-color: var(--code-editor-box-backgroud-color) !important;
    height: auto;
    color: var(--code-editor-box-font-color) !important;
    min-height: 100%;
}

.code-output-box {
    border-radius: 10px;
    font-size: 0.85rem !important;
    width: 100%;
    border-radius: 20px;
    background-color: var(--code-editor-box-backgroud-color) !important;
    height: auto;
    color: var(--code-editor-box-font-color) !important;
    min-height: 100%;
}

.compile-btn {
    margin-left: 20px;
    display: flex;
    width: auto;
    height: 40px;
    align-items: center;
    padding: 2px 10px 2px 10px;
    border-radius: 8px;
    box-shadow: var(--btn-shadow);
    color: var(--message-text);
}

/* ======================Video Component=============================== */

.video-component-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* --------For video participant display frame-------- */
.video-call-wrapper {
    width: 100%;
    height: 100%;
    /* border-radius: 16px; */
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.video-full-container {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.hideSelf {
    display: none;
}

.video-participant {
    /* 4 video div in one page */
    width: 48%;
    height: 49.6%;
    /* 6 video div in one page */
    /* width: 32%;
    height: 48%; */
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}


.video-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.participant-action {
    position: absolute;
    display: flex;
    left: 12px;
    top: 12px;
}

.btn-mute,
.btn-on,
.btn-camera {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(0, 15, 47, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border: none;
    z-index: 10;
}

/* .btn-mute {
    background-image: url('../videoStream_components/toggleVideoIcon/mic-off-white.png');
    margin-right: 4px;
}

.btn-on {
    background-image: url('../videoStream_components/toggleVideoIcon/mic-on-white.png');
    margin-right: 4px;
} */

.btn-camera {
    background-image: url('../videoChat/toggleVideoIcon/fullscreen-white.png');
}

.name-tag {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 15, 47, 0.5);
    border-radius: 4px;
    padding: 4px 12px;
    z-index: 10;
}

/* --------For video action -------- */

.video-call-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    max-width: 500px;
}

.video-action-button {
    background-repeat: no-repeat;
    background-size: 24px;
    border: none;
    height: 58px;
    padding: 17px;
    margin: 0 8px;
    box-shadow: var(--navigation-box-shadow);
    border-radius: 8px;
    width: 58px;
    cursor: pointer;
    outline: none;
    background-color: var(--button-bg);
    color: var(--code-editor-box-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.microphone-btn {
    font-size: 1.1rem;
    font-weight: lighter;
}

.video-action-button.endcall {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ff1932' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone-missed'%3E%3Cline x1='23' y1='1' x2='17' y2='7'/%3E%3Cline x1='17' y1='1' x2='23' y2='7'/%3E%3Cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'/%3E%3C/svg%3E");
    color: #ff1932;
    width: auto;
    font-size: 14px;
    padding-left: 42px;
    padding-right: 12px;
    background-size: 20px;
    background-position: center left 12px;
}
.video-action-button.endcall:hover {
    background-color: rgb(255, 0, 0) !important;
}


.video-action-button:hover {
    background-color: var(--button-selected);
    color: #fff;
    transition: 0.4s
}

.btn-selected {
    background-color: var(--button-selected);
    color: #fff;
    transition: 0.4s
}


/*==================== Chat Component ====================*/
.expand-btn-right {
    position: absolute;
    right: 32px;
    top: 4%;
    border: none;
    background-color: var(--chat-background);
    border-radius: 10px;
    color: var(--message-text);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: none;
}

.expand-btn-right .show {
    display: flex;
}

.right-side.show {
    display: block;
    transform: translateX(0);
}

.chat-container {
    background-color: var(--chat-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ----------Chat header ------------ */

.chat-header {
    padding: 16px;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.5%;
}

.chat-header>p {
    color: var(--message-text);
}

body.dark .chat-header {
    border-color: var(--message-bg);
}

.chat-header-button {
    background-image: url('./chat_app_icon/user-voice.png');
    background-color: var(--main-color);
    padding: 12px 16px 12px 40px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center left 12px;
    background-size: 20px;
    font-size: 14px;
}





/* ---------Chat Area ----------- */

.chat-area {
    flex: 1;
    overflow-y: auto;
    padding: 16px;

}

.message-wrapper {
    display: flex;
    padding: 16px 0;
}

.message-wrapper.reverse {
    flex-direction: row-reverse;
}

.message-wrapper.reverse .message {
    background-color: var(--message-bg-2);
    color: #fff;
    margin-left: auto;
    border-radius: 16px 0 16px 16px;
}

.message-wrapper.reverse .profile-picture {
    margin-left: 12px;
    margin-right: 0;
}

.message-wrapper.reverse .name {
    text-align: right;
}

.message-content-self {
    margin-left: auto;
    margin-right: 0;
}


.name {
    margin: 0;
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
    color: var(--message-text);
}

.name-self {
    display: flex;
    justify-content: flex-end;
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
    color: var(--message-text);
}

.message {
    margin-top: 8px;
    background-color: var(--message-bg);
    padding: 8px 16px;
    border-radius: 0 12px 12px 12px;
    font-size: 16px;
    line-height: 16px;
    /* max-width: calc(100% - 32px); */
    color: var(--message-text);
}

.message-self {
    margin-top: 8px;
    background-color: var(--message-bg);
    padding: 8px 16px;
    border-radius: 12px 0px 12px 12px;
    font-size: 16px;
    line-height: 16px;
    /* max-width: calc(100% - 32px); */
    color: var(--message-text);
}


.message__body__bot {
    color: #bdbdbd;
    margin: auto;
    font-size: 14px;
}

/* ------Text input area ------- */

.chat-typing-area-wrapper {
    padding: 16px;
}

.dark .chat-typing-area {
    box-shadow: none;
}

.chat-typing-area {
    display: flex;
    border-radius: 10px;
    padding: 8px;
    /* box-shadow: var(--navigation-box-shadow); */
    background-color: var(--message-bg);
}

.chat-input {
    border: none;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    color: var(--message-text);
    flex: 1;
    background-color: transparent;
}

.chat-input::placeholder {
    color: var(--placeholder-text);
}


.send-button {
    color: #fff;
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button svg {
    width: 20px;
    height: 20px;
}

/* <---------expand chat component btn--------> */
.expand-btn {
    /* position: absolute;
    right: 32px;
    top: 24px; */
    border: none;
    background-color: var(--chat-background);
    box-shadow: var(--navigation-box-shadow);
    border-radius: 10px;
    color: var(--message-text);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: none;
}

.expand-btn .show {
    display: flex;
}

/* <---------close chat component btn--------> */

.btn-close-right {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5%;
    right: 24px;
    color: var(--light-font);
    outline: none;
    cursor: pointer;
    display: none;
}

body.dark .btn-close-right {
    color: #fff;
}

.top-side {
    display: none;
}

.room-top-nav-link {
    width: 45px;
    border-radius: 5px;
    padding: 10px;

}

/*==================== Devices smaller than 900px ====================*/

@media screen and (max-width: 900px) {
    .expand-btn-right {
        display: flex;
    }


    .right-side {
        position: fixed;
        right: 0;
        background-color: var(--chat-background);
        transform: translateX(100%);
        z-index: 100;
        width: 100%;
    }

    .right-side .show {
        transform: translateX(0);
    }

    .btn-close-right {
        display: block;
    }

    .chat-header {
        justify-content: flex-start;
        gap: 8%;
    }

    .main-header {
        justify-content: flex-start;
        gap: 10px;
    }
}

/*==================== Devices smaller than 550px ====================*/
@media screen and (max-width: 550px) {
    .expand-btn {
        display: flex;
    }

    .expand-btn-right {
        display: none;
    }

    .top-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        padding-left: 16px;
        padding-right: 16px;
        top: 20px;
        z-index: 1;
        width: 100%;
    }

    .navigation {
        z-index: 10;
        flex-direction: row;
    }

    .left-side {
        display: none;
    }

    .app-main {
        padding: 72px 16px 16px 16px;
    }

    .expand-btn {
        /* right: 16px; */
        z-index: 10;

    }

    .mode-switch {
        display: none;
    }

    .mode-switch-top {
        z-index: 1;
        background-color: var(--chat-background);
        border: none;
        color: #ddd;
        outline: none;
        cursor: pointer;
        box-shadow: var(--navigation-box-shadow);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        transform-origin: center;
    }

    .mode-switch-top svg {
        width: 0;
        height: 24px;
        transition: all 0.3s ease-in;
        transform-origin: center;
    }

    .mode-switch-top .moon {
        opacity: 0;
    }

    .mode-switch-top .sun {
        width: 24px;
    }

    .dark .moon {
        opacity: 1;
        width: 24px;
    }

    .dark .sun {
        opacity: 0;
        width: 0;
    }

    .video-call-actions {
        padding-top: 18px;
    }

    .video-action-button {
        width: 32px;
        height: 32px;
        background-size: 14px;
        margin: 0 4px;
        padding: 5px;
        font-size: 0.8rem;
    }

    .microphone-btn {
        font-size: 0.9rem !important;
    }

    .video-action-button.endcall {
        background-size: 14px;
        font-size: 12px;
        padding-left: 36px;
    }

    .video-action-button.magnifier svg {
        width: 14px;
    }

    .video-action-button.magnifier span {
        margin: 0 4px;
        font-size: 12px;
    }

    #share-screen {
        display: none;
    }

    .main-header {
        justify-content: space-between;
    }

    .video-participant {
        width: 100% !important;
        height: 50% !important;
    }

    .current-time {
        font-size: 0.76rem;
    }
}

/*==================== Devices Between 520px - 720px ====================*/
@media screen and (max-width: 550px) and (max-width: 900px) {
    .video-participant {
        width: 48%;
        height: 33.3%;
    }
}